/* This one adds a background image */
html,body,#page-border{
	height: 100% !important;
}
#page-border{
	background-image: url("http://3.bp.blogspot.com/-UJbmzWz8A34/TgrgOCrv4AI/AAAAAAAAFLw/QqF92ahq-1w/s1600/amazing%2Bbackground%2Bwallpapers-6.jpg");
	background-size: cover;
}