/* This adds some styles to the webmap */
#custom-html{
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	overflow: hidden;
}

/* This sets the map to full background */
#livemap{
	margin-top: 20px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 30px;
	height: 100%;
	width: 100%;
}
