/* Rounded map styles */
#gallery .galleryBackground .galleryNode a{
	border-radius: 9999999px;
	overflow: hidden;
	width: 160px;
	height: 160px;
	border: 2px solid #333;
	box-shadow: 0 0px 6px #FFF;
	margin-left: 27px;
	margin-right: 21px;
	display: inline-block;
}
#gallery .galleryBackground .galleryNode a img{
	width: auto;
	max-width: none;
	max-height: none;
	height: 173px;
	margin-left: -30px;
	top: -10px;
	position: relative;
}

#featuredMaps{
    background: none;
    border: 0;
    box-shadow: none;
}
#featuredMaps #fHeader{
background: none;
border: 0;
}
#bottomContent{
	display: none
}