/* Custom styles for Youtube video */
#youtube,
#imgRotator,
#banner-html{
	width: 100%;
	text-align:center;

}
#youtube object{
	margin: 20px auto 0;
	display: inline-block;
}
#homeRotate,
#imgRotator{
	min-height: 350px;
}
#matrixLayout{
	box-shadow: none;
	background: none;
}